* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0B3C49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.memory-game {
    width: 90vmin; /* Adjusted to fit within viewport height */
    height: 90vmin; /* Adjusted to fit within viewport height */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front-face {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid deeppink;
    transform: rotateY(180deg);
}

.back-face {
    background-color: #1C7C9C;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1C7C9C;
}

img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
